@import url('https://fonts.googleapis.com/css?family=Blinker:400,600&display=swap');

body {
    font-family: 'Blinker', sans-serif;
    color: #3f3f3f;
    font-size: 100%;
}

h2 {
    color: #14936b;
    font-size: 1.8em;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

a {
    color: #036501;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input:disabled {
    cursor: not-allowed;
  }


.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

label {
    font-size: 1em;
    margin: 5px;
}

input {
    background-color: #ffffff;
    border: solid 1px #9b9b9b;
    color: #3f3f3f;
    font-size: 1em;
    padding: 5px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input:focus {
    box-shadow: 0 0 5px #14936b;
    border: 1px solid #14936b;
    outline-color: #14936b;
    background-color: #fafafa;
}

input:disabled {
    border: none;
    background-color: #efefef;
    color: #aaaaaa;
}


.button--large {
    background: none;
    border: none;
    color: #14936b;
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: solid 2px #14936b;
    padding: 0;
}



button:hover {
    cursor: pointer;
}



button:focus {
    box-shadow: 0 0 5px #14936b;
    border: 1px solid #14936b;
    outline-color: #14936b;
    background-color: #fafafa;
}



.button--primary {
    font-size: 1em;
    background-color: #14936b;
    padding: 12px 20px 12px 20px;
    border: none;
    color: #ffffff;
    border-radius: 15px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.button--primary:hover {
    background-color: #4eb448;
}

.button--secondary {
    font-size: 1em;
    background: none;
    padding: 12px 20px 12px 20px;
    border: solid 2px #14936b;
    color: #14936b;
    border-radius: 15px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.button--secondary:hover {
    border-color: #4eb448;
}